.nav{
    width: 100%;
    display: block;
}

.drag-container {
    display: flex;
    /* min-height: 100vh; */
    margin-top: 0;
}
[class^="panel"] {
    padding: 12px 12px;
    /* background-color: whitesmoke; */
    /* max-height:500px; */
    overflow-y: scroll;
}
.panel-one {
    width: 20%;
}
.panel-two {
    flex: 1;
    width: 40%;
}
.panel-three {
    /* flex: 2; */
    width: 40%;
}

.dragbar {
    padding: 6px;
    cursor: col-resize;
    background-color: silver;
}