<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGFPlots 代码生成器</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="nav">
            <a id="title" href="https://logcreative.github.io/LaTeXSparkle/" target="_blank" class="logo"><svg style="fill: black; font-family: Times,'宋体'" width="144" height="35">
                <text x="0" y="28" style="font-size: x-large">像</text>
                <text x="21" y="23" style="font-size:large">模</text>
                <text x="36" y="33" style="font-size: x-large">像</text>
                <text x="56" y="28" style="font-size:x-large">样</text>
                <text x="85" y="28" style="font-size:x-large">L</text>
                <text x="92" y="23" style="font-size:large">A</text>
                <text x="102" y="28" style="font-size:x-large">T</text>
                <text x="114" y="33" style="font-size:x-large">E</text>
                <text x="126" y="28" style="font-size:x-large">X</text>
                </svg></a> · <a href="https://github.com/LogCreative/PGFPlotsEdt" target="_blank">PGFPlots 代码生成器</a> · 原型机
            <div id="extlinks">
                <div>
                    <a href="https://mirrors.rit.edu/CTAN/graphics/pgf/contrib/pgfplots/doc/pgfplots.pdf" target="_blank">PGFPlots 手册</a>
                </div>
                <div>
                    <a href="https://logcreative.github.io/PGFPlotsEdt/index.html">中文</a>|<a title="Under Construction">English</a>
                </div>
            </div>
    </div>
    <div class="container" id="app">
        <div id="panel-one" class="split">
            <div id="panel-vone">
                <button v-on="{click: compile}" id="compileBtn">编译</button><br>
                <iframe v-bind:src="curl" id="compilePrev"></iframe>
            </div>
            <div id="panel-vtwo">
                <details>
                    <summary>
                        坐标系
                    </summary>
                    <div id="axis">
                        <tr><td>增补参数</td><td></td><td><input type="text" v-model="surplusparam" placeholder="参数"></input></td></tr>
                            <property chname="宽度" propkey="width"></property>    
                            <property chname="高度" propkey="height"></property>
                            <propertyselect chname="字号" propkey="font" :options="['\\tiny','\\scriptsize','\\footnotesize','\\small','\\normalsize','\\large','\\Large','\\LARGE','\\huge','\\Huge']"></propertyselect>    
                            <property chname="标题" propkey="title"></property>
                        <div v-show="enableLegend">
                            <propertyselect chname="图例位置" propkey="legend pos" :options="['south west','south east','north west','north east','outer north east']"></propertyselect>    
                        </div>
                            <tr>x轴</tr>
                            <property chname="轴题" propkey="xlabel"></property>
                            <property chname="最小" propkey="xmin"></property>
                            <property chname="最大" propkey="xmax"></property>
                            <propertyselect chname="箭头" propkey="axis x line" :options="['top','middle','bottom']"></propertyselect>
                            <tr>y轴</tr>
                            <property chname="轴题" propkey="ylabel"></property>
                            <property chname="最小" propkey="ymin"></property>
                            <property chname="最大" propkey="ymax"></property>
                            <propertyselect chname="箭头" propkey="axis y line" :options="['left','middle','right']"></propertyselect>
                        <div v-show="td">
                            <tr>z轴</tr>
                            <property chname="轴题" propkey="zlabel"></property>
                            <property chname="最小" propkey="zmin"></property>
                            <property chname="最大" propkey="zmax"></property>
                            <propertyselect chname="箭头" propkey="axis z line" :options="['left','middle','right']"></propertyselect>
                        </div>
                    </div>
                </details>
            </div>
        </div>
        <!-- <div class="dragbar" id="dragbar"></div> -->
        <div id="panel-two" class="split">
            <div id="settings">
                <details id="packages">
                    <summary>
                        设定
                    </summary>
                    <input type="checkbox" onclick="chnClick(this)" checked="true">启用中文</input>
                    <input type="checkbox" onclick="pinClick(this)" v-model="enablepin">启用标注</input>
                    <input type="checkbox" v-model="td">启用三维参数</input>
                    <input type="checkbox" v-model="enableLegend">启用图例</input>
                    <input type="checkbox" onclick="sourceClick(this)" v-model="enablesource">启用数据源</input>
                    <div>
                        <lib :id="1" category="tikz" chname="标记库" libname="plotmarks"></lib>
                        <lib :id="2" category="pgfplots" chname="颜色库" libname="colorbrewer"></lib>
                        <lib :id="3" category="pgfplots" chname="统计库" libname="statistics"></lib>
                        <lib :id="4" category="pgfplots" chname="间隙填充库" libname="fillbetween"></lib>
                    </div>
                </details>
                <details open="true">
                    <summary>
                        数据
                    </summary>
                    <div id="addtooltip">
                        <button>+ 系列</button>
                        <div id="addbuttons">
                            <div v-show="enablesource"><button onclick="addsourceClick()"> 表源</button></div>
                            <div><button onclick="addexprClick()">\(\tiny f(x)\) 函数</button></div>
                            <div><button onclick="addcoordClick()">\(\tiny (x,y)\) 坐标</button></div>
                            <div><button onclick="addtableClick()">\(\tiny x~~y~~\)文件</button></div>
                            <div v-show="enablepin"><button onclick="addnodeClick()">\(\tiny \rm abc~~\)标注</button></div>
                        </div>
                    </div>
                    <div id="series">
                        <div id="sours" v-show="enablesource">
                            <div v-for="comp in sources" :key="comp.innerId">
                                <Tsource :id="comp.id"></Tsource>
                            </div>
                        </div>
                        <div id="exprs">
                            <div v-for="comp in expressions" :key="comp.innerId">
                                <expression :id="comp.id" :ontd="td" :onlegend="enableLegend"></expression>
                            </div>
                        </div>
                        <div id="coords">
                            <div v-for="comp in coordinates">
                                <coordinate :id="comp.id" :ontd="td" :onlegend="enableLegend"></coordinate>
                            </div>
                        </div>
                        <div id="tables">
                            <div v-for="comp in tableps">
                                <tablep :id="comp.id" :ontd="td" :onlegend="enableLegend" :enablesource="enablesource"></tablep>
                            </div>
                        </div>
                        <div id="nodes" v-show="enablepin">
                            <div v-for="comp in nodeps">
                                <node :id="comp.id"></node>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
            
            
            <div id="code">
                <textarea id="manualfile" style="display:none; min-height: 450px;"></textarea>
            </div>
        </div> 
        <div id="panel-three" class="split">
            <div id="auto">
            <details id="codedetail">
                <summary>
                    代码
                </summary>
                <div>
                <textarea v-model="premable" readonly="readonly" style="min-height: 130px;"></textarea>
                <textarea v-model="content" id="texContent" readonly="readonly" style="min-height: 200px;">\begin{axis}[{{param}}]
        {{series}}
    \end{axis}</textarea>
                <textarea v-model="suffix" readonly="readonly" style="min-height: 50px;"></textarea>
            </div>
            </details>
            <button v-clipboard:copy="content">复制绘图代码</button>
            <button v-clipboard:copy="file">复制全部代码</button>
            <button onclick="gomanual()">手动编辑⚠</button>
        </div> 
        </div>
        
        
    </div>
    <template id="libtpl">
        <td><input type="checkbox" v-model="enabled" @change="onlibchange">{{chname}}</input></td>
    </template>
    <template id="parambartpl">
        <div class="parambar" style="display: block;">
            <div class="title" style="display: block;">参数设置</div>
            <div class="notes">
                <div v-for="(value,key,index) in matchedCommands" v-show="!eq">
                    <div style="display: block;">
                        <div class="matchkey">{{key}}</div><div class="matchnote">{{value[0]}}</div>
                    </div>
                </div>
                <div v-for="(value,key,index) in submenu" v-show="eq">
                    <div class="matchkey">{{key}}</div><div class="matchnote">{{value}}</div>
                </div>
            </div>
        </div>
    </template>
    <template id="exprtpl">
        <div v-show="enabled" class="seriesitem">
            <div class="type" v-soutline="show">
                <label>
                    <div v-show="!onlegend">函数</div>
                    <div v-show="onlegend"><input type="text" class="legend" placeholder="函数" v-model="legend" @keyup="on_change" ></div>
                     [{{idInner|addZero}}]
                    <input type="checkbox" class="showToggle" @click="onschange" v-model="show" title="显示图层">
                </label>
            </div>
            <div><button class="upBut" @click="moveUp" title="置于顶层">↑</button></div>
            <div><button class="deleteBut" @click="deleteComp" title="删除系列">🗑</button></div>
            <div class="ttd" v-show="ontd">
                <input type="checkbox" @click="ontdchange" v-model="etd" title="三维坐标">
            </div>
            <div class="ptd">
                <input type="checkbox" @click="onpchange" v-model="plus" title="样式连续">
            </div>
            <div class="ctd">
                <input type="checkbox" @click="oncchange" v-model="cycle" title="循环面积">
            </div>
            <div><input type="text" class="param" placeholder="参数" v-model="param" @keyup="onpachange" @focus="param_focused" @blur="param_losefocus"></div>
            <div><input type="text" class="coord" placeholder="函数式" v-model="expression" @keyup="on_change" v-minimize="etd"></div>
            <div v-show="etd"><input type="text" class="coord2" placeholder="y轴" v-model="expression2" @keyup="on_change"></div>
            <div v-show="etd"><input type="text" v-model="expression3" class="coord3" placeholder="z轴" @keyup="on_change"></div>
            <parambar v-show="paramfoc" @click="param_focused" :command="command" :etd="etd"></parambar>
        </div>
    </template>
    <template id="coordbartpl">
        <div class="coordbar" style="display: block;">
            <div class="title" style="display: block;">坐标数据</div>
            坐标数据诸如 (x1,y1) (x2,y2) (x3,y3)
        </div>
    </template>
    <template id="coordtpl">
        <div v-show="enabled" class="seriesitem">
            <div class="type" v-soutline="show">
                <label>
                    <div v-show="!onlegend">坐标</div>
                    <div v-show="onlegend"><input type="text" class="legend" placeholder="坐标" v-model="legend" @keyup="on_change"></div>
                     [{{idInner|addZero}}]
                    <input type="checkbox" class="showToggle" v-model="show" @click="onschange" title="显示图层">
                </label>
            </div>
            <div><button class="upBut" @click="moveUp" title="置于顶层">↑</button></div>
            <div><button class="deleteBut" @click="deleteComp" title="删除系列">🗑</button></div>
            <div class="ttd" v-show="ontd">
                <input type="checkbox" @click="ontdchange" v-model="etd" title="三维坐标">
            </div>
            <div class="ptd">
                <input type="checkbox" @click="onpchange" v-model="plus" title="样式连续">
            </div>
            <div class="ctd">
                <input type="checkbox" @click="oncchange" v-model="cycle" title="循环面积">
            </div>
            <div><input type="text" class="param" v-model="param" @keyup="onpachange" placeholder="参数" @focus="param_focused" @blur="param_losefocus"></div>
            <!-- <br> -->
            <div><input type="text" class="coord" v-model="data" @keyup="on_change" placeholder="坐标数据" @focus="coord_focused" @blur="coord_losefocus"></div>
            <parambar v-show="paramfoc" :command="command" :etd="etd"></parambar>
            <coordbar v-show="coordbar"></coordbar>
        </div>
    </template>
    <template id="tableparamtpl">
        <div class="tableparambar" style="display: block;">
            <div class="title" style="display: block;">表格参数</div>
            表格参数用于指定读取列，例如 x=tab1, y=tab2。
        </div>
    </template>
    <template id="sourcetpl">
        <div v-show="enabled" class="seriesitem">
            <div class="type" v-soutline="show">
                <label>
                    <div><input type="text" class="legend" placeholder="表源" v-model="sourceName" @keyup="on_change" v-validate="sourceName"></div>
                     ({{idInner|addZero}})
                    <input type="checkbox" class="showToggle" v-model="show" @click="onschange" title="显示图层">
                </label>
            </div>
            <div><button class="upBut" @click="moveUp" title="置于顶层">↑</button></div>
            <div><button class="deleteBut" @click="deleteComp" title="删除表源">🗑</button></div>
            <div><input type="file" id="files" class="fileChooser" @change="readFile"></div>
        </div>
    </template>
    <template id="tableptpl">
        <div v-show="enabled" class="seriesitem">
            <div class="type" v-soutline="show">
                <label>
                    <div v-show="!onlegend">文件</div>
                    <div v-show="onlegend"><input type="text" class="legend" placeholder="文件" v-model="legend" @keyup="on_change"></div>
                     [{{idInner|addZero}}]
                    <input type="checkbox" class="showToggle" v-model="show" @click="onschange" title="显示图层">
                </label>
            </div>
            <div><button class="upBut" @click="moveUp" title="置于顶层">↑</button></div>
            <div><button class="deleteBut" @click="deleteComp" title="删除系列">🗑</button></div>
            <div class="ttd" v-show="ontd">
                <input type="checkbox" @click="ontdchange" v-model="etd" title="三维坐标">
            </div>
            <div class="ptd">
                <input type="checkbox" @click="onpchange" v-model="plus" title="样式连续">
            </div>
            <div class="ctd">
                <input type="checkbox" @click="oncchange" v-model="cycle" title="循环面积">
            </div>
            <div><input type="text" class="param" v-model="param" @keyup="onpachange" placeholder="参数"  @focus="param_focused" @blur="param_losefocus"></div>
            <div><input type="text" class="coord" v-model="tableparam" @keyup="on_change" placeholder="表参数" @focus="tableparam_focused" @blur="tableparam_losefocus"></div>
            <div v-show="enablesource">
                <select v-model="sourceSelect" @change="on_change">
                    <option v-for="opt in sourceNameList" :value="opt" v-show="opt!=null">{{opt}}</option>
                </select>
            </div>
            <div v-show="sourceSelect=='...'||!enablesource">
                <div style="display:none"><input type="text" class="coord" v-model="fileName" placeholder="数据文件"></div>
                <div style="display:none"><input type="text" class="coord" v-model="datat" @keyup="on_change" placeholder="数据表"></div>
                <div style="display: inline-block; margin-left: -10px;"><input type="file" id="files" class="fileChooser" @change="readFile"></div>
            </div>
            <parambar v-show="paramfoc" :command="command" :etd="etd"></parambar>
            <tableparambar v-show="tableparambar"></tableparambar>
        </div>
    </template>
    <template id="nodetpl">
        <div v-show="enabled" class="seriesitem">
            <div class="type" v-soutline="show">
                <label>
                    <div><input type="text" class="legend" placeholder="标注" v-model="pin" @keyup="on_change"></div>
                     [{{idInner|addZero}}]
                    <input type="checkbox" class="showToggle" v-model="show" @click="onschange" title="显示图层">
                </label>
            </div>
            <div><button class="upBut" @click="moveUp" title="置于顶层">↑</button></div>
            <div><button class="deleteBut" @click="deleteComp" title="删除标注">🗑</button></div>
            <div class="ytd">
                <input type="checkbox" @click="ontdchange" v-model="etd" title="黄色标注">
            </div>
            <div><input type="text" class="param" v-model="param" @keyup="on_change" placeholder="旋转角度" v-show="etd"></div>
            <div><input type="text" class="coord" v-model="pos" @keyup="on_change" placeholder="标注位置"></div>
        </div>
    </template>
    <template id="propertyselecttpl">
        <tr>
            <td>{{chname}}</td>
            <td>
                <select v-model="value" @change="on_change">
                    <option v-for="opt in options" :value="opt">{{opt}}</option>
                </select>
            </td>
        </tr>
    </template>
    <template id="propertytpl">
        <tr>
            <td>{{chname}}</td>
            <td style="display:none">{{propkey}}</td><td><input type="text" v-model="value" @keyup="on_change"></td>
        </tr>
    </template>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-clipboard2/0.3.1/vue-clipboard.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/split.js/1.6.2/split.min.js"></script>
    <script src="lang/sparamdic_cn.js"></script>
    <script src="lang/directive_cn.js"></script>
    <script src="main.js"></script>
    <script>
        if(document.body.clientWidth>900){
            // 启用split
            var sps = document.getElementsByClassName('split');
            for(var i in [0,1,2]){
                sps[i].style.float = 'left';
                sps[i].style.height = '575px';
            }
            var instance = Split(['#panel-one','#panel-two','#panel-three'],{
                sizes:[40,35,25],
                minSize: [400,400,0],
                expandToMin: true,
                direction: 'horizontal',
            });
            instance.collapse(0);
            document.getElementById('codedetail').open = true;
        }
        else 
            document.getElementById('codedetail').open = false;
    </script>
</body>
</html>