<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGFPlots 代码生成器</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="web/css/main.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="nav">
            <a href="https://logcreative.github.io/LaTeXSparkle/" class="logo"><svg style="fill: black; font-family: Times,'宋体'" width="144" height="35">
                <text x="0" y="28" style="font-size: x-large">像</text>
                <text x="21" y="23" style="font-size:large">模</text>
                <text x="36" y="33" style="font-size: x-large">像</text>
                <text x="56" y="28" style="font-size:x-large">样</text>
                <text x="85" y="28" style="font-size:x-large">L</text>
                <text x="92" y="23" style="font-size:large">A</text>
                <text x="102" y="28" style="font-size:x-large">T</text>
                <text x="114" y="33" style="font-size:x-large">E</text>
                <text x="126" y="28" style="font-size:x-large">X</text>
                </svg></a> · \(\rm PGFPlots\) 代码生成器
    </div>
    <div class="container" id="app">
        <div class="properties">
            <details>
                <summary>
                    数据
                </summary>
                <div class="type">
                    <button v-on="{mouseenter: onFunctionEnter, mouseleave: onFunctionLeave}">函数</button>
                    <button v-on="{mouseenter: onPlotEnter, mouseleave: onPlotLeave}">散点</button>
                </div>
                <div>
                    <input type="text" v-model="series">
                    <span v-show="series">{{series}}</span>
                </div>
            </details>
            <details>
                <summary>
                    坐标
                </summary>
                <div>
                    <input type="text" v-model="axis">
                    <span v-show="axis">{{axis}}</span>
                </div>
            </details>
            <details>
                <summary>
                    参数
                </summary>
                <div>
                    <input type="text" v-model="param">
                    <span v-show="param">{{param}}</span>
                </div>
            </details>
        </div>
        <div class="textext">
            <textarea id="texOutput">\begin{axis}[{{param}}]
    {{series}}
\end{axis}</textarea>
        </div>
    </div>
    <script src="web/js/vue.js"></script>
    <script src="web/js/main.js"></script>
</body>
</html>