<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGFPlots 代码生成器</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="web/css/main.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="nav">
            <a href="https://logcreative.github.io/LaTeXSparkle/" target="_blank" class="logo"><svg style="fill: black; font-family: Times,'宋体'" width="144" height="35">
                <text x="0" y="28" style="font-size: x-large">像</text>
                <text x="21" y="23" style="font-size:large">模</text>
                <text x="36" y="33" style="font-size: x-large">像</text>
                <text x="56" y="28" style="font-size:x-large">样</text>
                <text x="85" y="28" style="font-size:x-large">L</text>
                <text x="92" y="23" style="font-size:large">A</text>
                <text x="102" y="28" style="font-size:x-large">T</text>
                <text x="114" y="33" style="font-size:x-large">E</text>
                <text x="126" y="28" style="font-size:x-large">X</text>
                </svg></a> · <a href="https://github.com/LogCreative/PGFPlotsEdt" target="_blank">\(\rm PGFPlots\) 代码生成器</a>
    </div>
    <div class="container" id="app">
        <div class="properties">
            <details>
                <summary>
                    设定
                </summary>
                <input id="chn" type="checkbox" onclick="chnClick(this)" checked="true">启用中文</input>
                <input id="3d" type="checkbox" v-model="td">启用三维</input>
            </details>
            <details>
                <summary>
                    数据
                </summary>
                <div class="type">
                    <button v-on="{mouseenter: onFunctionEnter, mouseleave: onFunctionLeave}">函数</button>
                    <button v-on="{mouseenter: onPlotEnter, mouseleave: onPlotLeave}">散点</button>
                </div>
                <div>
                    <input type="text" v-model="series">
                    <span v-show="series">{{series}}</span>
                </div>
            </details>
            <details>
                <summary>
                    参数
                </summary>
                <div>
                    <!-- <table id="propcon"> -->
                        <property chname="标题" propkey="title"></property>
                        <tr>x轴</tr>
                        <property chname="最小" propkey="xmin"></property>
                        <property chname="最大" propkey="xmax"></property>
                        <tr>y轴</tr>
                        <property chname="最小" propkey="ymin"></property>
                        <property chname="最大" propkey="ymax"></property>
                    <!-- </table> -->
                    <div v-show="td">
                        <tr>z轴</tr>
                        <property chname="最小" propkey="zmin"></property>
                        <property chname="最大" propkey="zmax"></property>
                    </div>
                </div>
            </details>
            <button v-on="{click: compile}">编译</button><br>
            <iframe v-bind:src="curl" id="compilePrev"></iframe>
        </div>
        <div class="textext">
            <textarea v-model="premable"></textarea>
            <textarea v-model="content">\begin{axis}[{{param}}]
    {{series}}
\end{axis}</textarea>
<textarea v-model="suffix"></textarea>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="web/js/main.js"></script>
</body>
</html>