a{
    color: gray;
    text-decoration: none;
}

.nav{
    background:whitesmoke;
    margin-bottom: 5px;
    padding: 5px;
}

#extlinks{
    float: right;
    text-align: right;
}

.container{
    padding: 15px;
}

#compile{
    width: 49%;
    float: left;
}

#properties,
#code{
    width: 50%;
    float: right;
}

textarea{
    width: 100%;
    min-height: 150px;
}

#compileBtn{
    width: 101%;
}

#compilePrev{
    width: 100%;
    height: 300px;
}

footer{
    font-size: small;
}

.param {
    width: 60px;
}

.coord{
    width: 80px;
}

.coord2,.coord3{
    width: 40px;
}

#addbuttons{
    display: none;
}

#addtooltip button {
    width: 80px;
    text-align: right;
}

#addtooltip:hover  #addbuttons{
    display: block;
    position: absolute;
}

.fileChooser {
    display: block;
    width: 80px;
}

.legend {
    width: 50px;
}

details {
    margin: 5px 5px 5px 0px;
    padding: 5px;
    background: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.4);
}

summary {
    margin: 5px;
}

#series .deleteBut {
    background-color:rgb(255, 25, 25);
    color: white;
    border: 1px solid red;
}

#series .deleteBut:hover{
    background-color: rgb(255, 111, 111);
}

#series .type{
    margin: 10px;
}

#series .legend {
    width: 100px;
}

/* <td><button class="deleteBut" @click="deleteComp">X</button></td>
<td class="type">函数</td>
<td><input type="text" class="legend" placeholder="系列名" v-model="legend" @keyup="on_change"></td>
<td><input type="checkbox" class="td" @click="ontdchange" v-model="etd">3D</td>
<td><input type="checkbox" class="td" @click="onpchange" v-model="plus">+</td>
<td><input type="checkbox" class="cycle" @click="oncchange" v-model="cycle">🔄</td>
<td><input type="text" class="param" placeholder="参数" v-model="param" @keyup="on_change"></td>
<td><input type="text" class="coord" placeholder="函数" v-model="expression" @keyup="on_change" v-minimize="etd"></td>
<td v-show="etd"><input type="text" class="coord2" placeholder="y轴" v-model="expression2" @keyup="on_change"></td>
<td v-show="etd"><input type="text" v-model="expression3" class="coord3" placeholder="z轴" @keyup="on_change"></td> */

