button,
summary{
    outline: none;
    cursor: pointer;
}

a{
    color: gray;
    text-decoration: none;
}

.nav{
    background:whitesmoke;
    padding: 5px 10px;
    margin-bottom: 10px;
    overflow-y: hidden;
    /* position: absolute;
    width: 100%; */
}

#template {
    display: none;
    margin: 5px 0px 2px 0px;
}

.nav:hover > div > #template{
    display: block;
}

.nav:hover > div > #poweredby{
    display: flex;
}

#logo{
    float: left;
    margin: 3px 5px 0 0;
    height: 32px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.nav:hover > #logo{
    height: 72px;
}

#flogo{
    width: auto;
}

#extlinks{
    float: right;
    text-align: right;
}

#poweredby{
    display: none;
    justify-content: flex-end;
}

#poweredby a{
    margin: 10px 2px 0px 2px;
    opacity: 0.5;
}

#poweredby a:hover{
    opacity: 1;
}

#poweredby > a > img {
    height: 16px;
}

#title, #extlinks {
    margin: 0px 5px;
}

/* .container{
    padding: 15px;
} */

#compile{
    width: 39%;
    /* float: left; */
}

/* #auto {
    display: inline-block;
} */

#properties
/* ,#code */
{
    width: 60%;
    /* float: right; */
}

.texCode,#texAllCode{
    border: 2px solid transparent;
    background-color: white;
}

code {
    font-family: 'Consolas','Courier New', Courier, monospace;
    white-space:pre-wrap;
    word-wrap:break-word;
}

pre{
    margin: 0px;
}

textarea{
    width: 98%;
    min-height: 200px;
    border-color: grey;
}

#compileBtn{
    width: calc(100%);
    border: solid green;
    border-width: 1.5px 1.5px 0px 1.5px;
    background-color: transparent;
    color: green;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}

#compileBtn:hover {
    background-color: green;
    color: white;
}

#stylePrev,
#compilePrev{
    width: calc(100% - 3px);
    height: 300px;
    margin-bottom: 7px;
    border-radius: 0px 0px 10px 10px;
    border: 1.5px solid green;
}

.container{
    padding: 0px 10px;
}

footer{
    font-size: small;
}

.param {
    width: 60px;
}

.surparam{
    width: 150px;
}

.coord{
    width: 80px;
}

.coord2,.coord3{
    width: 40px;
}

#addbuttons{
    display: none;
}

#addtooltip button {
    width: 100px;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(68, 68, 148);
    border-radius: 0px;
    transition: ease-in 0.2s;
    color: rgb(68, 68, 148);
}

#addbuttons button {
    border-width: 0px 1px 1px 1px;
}

#addtooltip:hover  #addbuttons{
    display: block;
    position: absolute;
    z-index: 12;
}

#addtooltip > button{
    border-radius: 5px 5px 5px 5px;
}

#addtooltip:hover button{
    text-align: right;
}

#addtooltip:hover > button{
    background-color: rgb(68, 68, 148);
    color: white;
    border-radius: 5px 5px 0px 0px;
}

#addbuttons button:hover{
    background-color: rgb(68, 68, 148);
    color: white;
}

.legend {
    width: 50px;
}

#btnDrawCode:hover,
#btnAllCode:hover{
    border: 2px solid green;
    background-color: green;
    color: white;
}

#btnDrawCode:hover::before,
#btnAllCode:hover::before{
    content: '📄';
}

#btnEdtCode:hover{
    border: 2px solid orange;
    background-color: orange;
    color: white;
}

#btnEdtCode:hover::before{
    content: '🖊';
}

details {
    margin: 0px 2px 10px 0px;
    padding: 10px;
    background: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.4);
    border-radius: 10px;
}

summary {
    margin: 5px;
    font-weight: 600;
    color: gray;
}

#axis{
    width: 100%;
    /* max-height: 200px; */
    /* overflow-y: scroll; */
}

#series .seriesitem > div,
#series .seriesitem label > div{
    display: inline;
    margin-right: -5px;
}

#series .seriesitem {
    margin: 2px 0px;
}

#series .upBut {
    background-color:rgb(255, 95, 95);
    color: white;
    border: 1px solid red;
}

#series .upBut:hover {
    background-color: rgb(255, 143, 143);
}

#series .deleteBut {
    background-color:rgb(255, 25, 25);
    color: white;
    border: 1px solid red;
}

#series .deleteBut:hover{
    background-color: rgb(255, 111, 111);
}

.sicon {
    display: inline;
    float: left;
}

#series .legend {
    width: 60px;
}

.seriesitem .type{
    margin: 3px 3px 5px 0px;
    color: #666;
}

.fileChooser {
    margin-left: 10px;
    width: 200px;
}

input[type=checkbox]
/* ,.seriesitem .type label */
{
    cursor: pointer;
}

#settings input[type=checkbox] {
    margin-right: 10px;
}

#data input[type=checkbox] {
    margin-right: 8px;
}

input[type=checkbox] {
    margin-bottom: 5px;
    
    width: 15px;
    height: 17px;
    position: relative;
}


input[type=checkbox]::after,
input[type=checkbox]:disabled::after {
    position: absolute;
    width: 15px;
    height: 20px;
    top: 0;
    content: " ";
    background-color: #fff;
    color: #fff;
    display: inline-block;
    visibility: visible;
    border: 1px solid grey;
    padding: 0 3px;
    border-radius: 3px;
}

#packages input[type=checkbox]:checked::after,
#series .type input[type=checkbox]:checked::after{
    background-color: #0f97e7;
    content: "✓";
    font-size: 15px;
    text-align: center;
    border: 1px solid blue;
}

#series .ttd input[type=checkbox]:checked::after {
    background-color: #1dd60d;
    border: 1px solid #0e9c01;
    content: "z";
    font-size: 15px;
    text-align: center;
}

#series .ptd input[type=checkbox]:checked::after {
    background-color: #ca710b;
    border: 1px solid red;
    content: "+";
    font-size: 15px;
    text-align: center;
}

#series .ctd input[type=checkbox]:checked::after {
    background-color: #2f8b0a;
    border: 1px solid darkgreen;
    content: "⇲";
    font-size: 15px;
    text-align: center;
}

#series .ytd input[type=checkbox]{
    margin-right: 13px;
}

#series .ytd input[type=checkbox]:checked::after {
    background-color: #eeff00;
    border: 1px solid orange;
    /* content: "a";
    text-align: center;
    color: black; */
}

.split{
    float: left;
}
.gutter.gutter-horizontal {
    float: left;
    height: var(--spliterHeight);
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}
.gutter.gutter-horizontal:hover {
    background-color: lightgray;
}
#panel-three{
    overflow-x:hidden;
}

input[type=text]{
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.5px solid gray;
    padding: 2px 1px;
}

.seriesitem:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.parambar, .coordbar, .tableparambar{
    width: 100%;
    margin: 2px 0px 6px 0px;
    font-size: small;
}

.title {
    color:white;
    width: 100%;
}

.parambar .title{
    background-color: rgba(0, 0, 255, 0.5);
}

.coordbar .title{
    background-color: rgba(0, 128, 0, 0.5);
}

.tableparambar .title{
    background-color: rgba(255, 0, 0, 0.5);
}

.notes {
    max-height: 125px;
    overflow-y: auto;
}

.parambar {
    /* background-color: rgba(173, 216, 230, 0.3); */
    background-color: white;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.coordbar {
    background-color: rgba(144, 238, 144, 0.3);
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.tableparambar {
    background-color: rgba(255, 0, 0, 0.1);
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.param:focus,
.coord:focus {
    width: 150px;
}

.surparam:focus{
    width: 250px;
}

.matchkey,.matchnote {
    display: inline-table;
}

.matchkey{
    width: 150px;
}

.matchside{
    float:right;
}

.colorbox{
    width: 20px;
    height: 12px;
    /* border: 1px solid black; */
}

.colormapbox{
    width: 40px;
    height: 12px;
}

.libchecker {
    display: inline-block;
    width: 8em;
}

#texContent{
    display: block;
    cursor: default;
}

#texContent_ndc{
    display: none;
    cursor: default;
}

#texContent:hover {
    display: none;
    cursor: default;
}

#texContent:hover + #texContent_ndc{
    display: block;
    cursor: default;
}

.split{
    width: 99%;
}

#axis > div{
    display: inline-block;
}
.paramname{
    width: 4.5em;
    margin: 2px 0px;
}
.paramhead{
    font-size: smaller;
    margin: 4px 0px;
    color: gray;
    display: block;
}

.coordbar{
    margin-bottom: 0px;
}

.coordtext{
    width: 80px;
    min-height: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
}

.coordtextb{
    display: block;
    width: 98.5%;
    min-height: 40px;
    height: 40px;
}

.coordbar button{
    padding: 0px 3px;
}

.tableparambar div {
    display: inline-block;
}

.tableparambar div.row {
    display: block;
}

.tableparambar .tableparamcol {
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tableparambar [class^=col]{
    width: 30px;
    text-align: center;
}

.tplbutton{
    display: inline-block;
}

.accordion{
    list-style: none;
    display: flex;
}
.accordion>.acckey{
    overflow: hidden;
    display: inline;
    margin: 0px;
}
.accordion>.acckey  div.value{
    text-overflow: clip;
    overflow: hidden;
    width: 0px;
    height: 20px;
    display: inline-flex;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)  1s;
}
.accordion>.acckey:hover div.value{
    width: auto;
    margin-left: 5px;
}
.accordion .acckey .icon{
    height: 16px;
}
.accordion .acccon{
    padding-top: 5px;
    vertical-align: text-top;
}