a{
    color: gray;
    text-decoration: none;
}

.nav{
    background:whitesmoke;
    padding: 5px 0px;
    margin-bottom: 10px;
}

#extlinks{
    float: right;
    text-align: right;
}

#title, #extlinks {
    margin: 0px 5px;
}

/* .container{
    padding: 15px;
} */

#compile{
    width: 39%;
    /* float: left; */
}

/* #auto {
    display: inline-block;
} */

#properties
/* ,#code */
{
    width: 60%;
    /* float: right; */
}

textarea{
    width: 98%;
    min-height: 200px;
}

#texContent {
    height: 295px;
}

#compileBtn{
    width: 100%;
}

#compilePrev{
    width: 99%;
    height: 300px;
}

footer{
    font-size: small;
}

.param {
    width: 60px;
}

.coord{
    width: 80px;
}

.coord2,.coord3{
    width: 40px;
}

#addbuttons{
    display: none;
}

#addtooltip button {
    width: 100px;
    text-align: right;
}

#addtooltip:hover  #addbuttons{
    display: block;
    position: absolute;
    z-index: 12;
}

.legend {
    width: 50px;
}

details {
    margin: 5px 0px 5px 0px;
    padding: 5px;
    background: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.4);
}

summary {
    margin: 5px;
}

#axis{
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}

#series .seriesitem > div,
#series .seriesitem label > div{
    display: inline;
    margin-right: -5px;
}

#series .seriesitem {
    margin: 2px 0px;
}

#series .upBut {
    background-color:rgb(255, 95, 95);
    color: white;
    border: 1px solid red;
}

#series .upBut:hover {
    background-color: rgb(255, 143, 143);
}

#series .deleteBut {
    background-color:rgb(255, 25, 25);
    color: white;
    border: 1px solid red;
}

#series .deleteBut:hover{
    background-color: rgb(255, 111, 111);
}

#series .legend {
    width: 60px;
}

.seriesitem .type{
    margin: 3px 3px 5px 0px;
    color: #666;
}

.fileChooser {
    margin-left: 10px;
    width: 200px;
}

input[type=checkbox]
/* ,.seriesitem .type label */
{
    cursor: pointer;
}

input[type=checkbox] {
    margin-right: 8px;
    margin-bottom: 5px;
    
    width: 15px;
    height: 17px;
    position: relative;
}

input[type=checkbox]:after,
input[type=checkbox]:disabled:after {
    position: absolute;
    width: 15px;
    height: 20px;
    top: 0;
    content: " ";
    background-color: #fff;
    color: #fff;
    display: inline-block;
    visibility: visible;
    border: 1px solid grey;
    padding: 0 3px;
    border-radius: 3px;
}

#packages input[type=checkbox]:checked:after,
#series .type input[type=checkbox]:checked:after{
    background-color: #0f97e7;
    content: "✓";
    font-size: 15px;
    text-align: center;
    border: 1px solid blue;
}

#series .ttd input[type=checkbox]:checked:after {
    background-color: #1dd60d;
    border: 1px solid #0e9c01;
    content: "z";
    font-size: 15px;
    text-align: center;
}

#series .ptd input[type=checkbox]:checked:after {
    background-color: #ca710b;
    border: 1px solid red;
    content: "+";
    font-size: 15px;
    text-align: center;
}

#series .ctd input[type=checkbox]:checked:after {
    background-color: #2f8b0a;
    border: 1px solid darkgreen;
    content: "⇲";
    font-size: 15px;
    text-align: center;
}

#series .ytd input[type=checkbox]{
    margin-right: 13px;
}

#series .ytd input[type=checkbox]:checked:after {
    background-color: #eeff00;
    border: 1px solid orange;
    /* content: "a";
    text-align: center;
    color: black; */
}

.gutter.gutter-horizontal {
    float: left;
    height: 575px;
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}
.gutter.gutter-horizontal:hover {
    background-color: lightgray;
}
#panel-three{
    overflow-x:hidden;
}

input[type=text]{
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.5px solid gray;
    padding: 2px 1px;
}

.seriesitem:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.parambar, .coordbar, .tableparambar{
    width: 100%;
    margin: 2px 0px 6px 0px;
    font-size: small;
}

.title {
    color:white;
    width: 100%;
}

.parambar .title{
    background-color: rgba(0, 0, 255, 0.5);
}

.coordbar .title{
    background-color: rgba(0, 128, 0, 0.5);
}

.tableparambar .title{
    background-color: rgba(255, 0, 0, 0.5);
}

.notes {
    max-height: 125px;
    overflow-y: auto;
}

.parambar {
    background-color: rgba(173, 216, 230, 0.3);
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.coordbar {
    background-color: rgba(144, 238, 144, 0.3);
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.tableparambar {
    background-color: rgba(255, 0, 0, 0.1);
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.param:focus,
.coord:focus {
    width: 150px;
}

.matchkey,.matchnote {
    display: inline-table;
}

.matchkey{
    width: 150px;
}

.matchside{
    float:right;
}