.nav{
    background:whitesmoke;
    margin-bottom: 5px;
    padding: 5px;
}

.container{
    padding: 15px;
}

.properties{
    width: 50%;
    float: left;
}

.textext{
    width: 50%;
    float: right;
}

#texOutput{
    width: 100%;
    min-height: 100px;
}