a{
    color: gray;
    text-decoration: none;
}

.nav{
    background:whitesmoke;
    margin-bottom: 5px;
    padding: 5px;
}

.container{
    padding: 15px;
}

.properties{
    width: 50%;
    float: left;
}

.textext{
    width: 50%;
    float: right;
}

textarea{
    width: 100%;
    min-height: 150px;
}

#compilePrev{
    width: 90%;
    height: 300px;
}

footer{
    font-size: small;
}

.param,.coord{
    width: 120px;
}

.coord2,.coord3{
    width: 40px;
}

#addbuttons{
    display: none;
}

#addtooltip:hover  #addbuttons{
    display: block;
    position: absolute;
}