a{
    color: gray;
    text-decoration: none;
}

.nav{
    background:whitesmoke;
    margin-bottom: 5px;
    padding: 5px;
}

.container{
    padding: 15px;
}

.properties{
    width: 50%;
    float: left;
}

.textext{
    width: 50%;
    float: right;
}

textarea{
    width: 100%;
    min-height: 150px;
}

#compilePrev{
    width: 90%;
    height: 300px;
}

footer{
    font-size: small;
}

.param {
    width: 60px;
}

.coord{
    width: 80px;
}

.coord2,.coord3{
    width: 40px;
}

#addbuttons{
    display: none;
}

#addtooltip:hover  #addbuttons{
    display: block;
    position: absolute;
}

.fileChooser {
    display: block;
    width: 80px;
}

.legend {
    width: 50px;
}

details {
    margin: 5px 5px 5px 0px;
    padding: 5px;
    background: rgb(250, 250, 250);
    box-shadow: 1px 1px 1px 1px rgba(129, 129, 129, 0.4);
}